#map-container {

}

#search {

}

.search-button {
    margin: 25px 5px 0;
}

.search-button-element {
    position: relative;
    
}


#back {
    float: right;
}

#map {
    margin-top: 25px;
}

#businesses {
    
}

#businesses a:hover, #businesses a:focus {
    text-decoration: none;
}

.business {
    border: #337ab7 1px solid;
    margin: 10px 0;
}

.business:hover {
    background: #eeeeee;
    border: #23527c 1px solid;
}

.business span {
    display: block;
}

.business .name {
    font-size: 110%;
    font-weight: bold;
    height: 40px;
    margin: 10px;
}

.business .address {
    height: 40px;
    font-size: 90%;
    margin: 0 10px;
}

.business .distance {
    margin: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

#business-details {
    min-height: 350px;
}

.review {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: #ddd 1px solid;
}

.author {
    display: block;
    text-align: right;
}

#photos img {
    max-width: 340px;
    padding: 5px;
    border: #ddd 1px solid;
}
