#map-container {

}

#search {

}

.search-button {
    margin: 25px 5px 0;
}

.search-button-element {
    position: relative;
    
}

#map {
    margin-top: 25px;
}

#businesses {
    
}

.business {
    border: #aaa 1px solid;
    height: 85px;
    padding: 10px;
    margin: 10px 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

#business-details {
    min-height: 250px;
}
